<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>  {{ categ.path[-2]['name'] }}</title>
</head>

<body>
<h2>
{% for pp in categ.path[-2:-1] -%}
<a href="{{ pp['url'] }}"> {{pp['name']}} </a>
{{ "/" if not loop.last }}
{% endfor %}
</h2>


{% for event in categ.events %}
  <h4 class="ms-rteElement-H4B" style="font-size: 13px; display: inline;">
  <a href="{{ event.url }}">{{ event.title }}</a> -
  {{ event.date }}
  {% for at in event.attachments -%}
  {{ "- minutes [" if loop.first -}}
  <a href={{- at.download_url }}>{{- at.short}}</a>
  {{- ", " if not loop.last else "]" }}
  {%- endfor %}
  </h4>
  <ul>
    {% for cc in event.contributions -%}
      {% if cc.attachments|length > 0 %}
      <li><a href="{{ cc.url }}">{{ cc.title }}</a>
      {% for sp in cc.speakers -%}
      {{- "(" if loop.first -}}
      {{- sp['first_name'][0]}}. {{sp['last_name'] }}
      {{- ", " if not loop.last else ")" }}
      {%- endfor %}
      {% for at in cc.attachments -%}
      {{- "[" if loop.first -}}
      <a href={{- at.download_url }}>{{- at.short}}</a>
      {{- ", " if not loop.last else "]"}}
      {%- endfor %}
      {% if cc.note['url'] is defined %}
      [<a href={{ cc.note['url']}}>note</a>]
      {% endif %}
      </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}

</body>
</html>
